@import "./variables.less";

.medium-screen(@rules) {
  @media screen and (min-width: @medium-breakpoint) { @rules(); }
}

.large-screen(@rules) {
  @media screen and (min-width: @large-breakpoint) { @rules(); }
}

/**
 * Create a grid container for the contents of an element, consisting
 * of a left and right margin and a main content area.
 */
.pageContainer() {
  display: grid;
  width: 100%;

  grid-template-columns:
    minmax(@spacing * 6, 1fr)
    minmax(auto, @max-content-width-md)
    minmax(@spacing * 6, 1fr);

  > * {
    grid-column: 2 e("/") 3;
  }

  .medium-screen({
    grid-template-columns:
      minmax(@spacing * 10, 1fr)
      minmax(auto, @max-content-width-lg)
      minmax(@spacing * 10, 1fr);
  });

  .large-screen({
    grid-template-columns:
      minmax(@spacing * 41, 1fr)
      minmax(auto, @max-content-width-xl)
      minmax(@spacing * 41, 1fr);
    });
}

.pageContainer--v1() {
  display: grid;
  width: 100%;
  margin-bottom: @spacing * 24;

  grid-template-columns:
    minmax(@spacing * 6, 1fr)
    repeat(10, minmax(auto, (@max-content-width-md / 10)))
    minmax(@spacing * 6, 1fr);

  > * {
    grid-column: 2 e("/") -2;
  }

  @media screen and (min-width: @medium-breakpoint) {
    margin-bottom: @spacing * 30;

    grid-template-columns:
      minmax(@spacing * 10, 1fr)
      repeat(10, minmax(auto, (@max-content-width-lg / 10)))
      minmax(@spacing * 10, 1fr);
  }

  @media screen and (min-width: @large-breakpoint) {
    margin-bottom: @spacing * 40;

    grid-template-columns:
      minmax(@spacing * 41, 1fr)
      repeat(10, minmax(auto, (@max-content-width-xl / 10)))
      minmax(@spacing * 41, 1fr);
  }
}

.backgroundPatternA(
  @top:88px,
  @left:unset,
  @rotateX: 0,
) {
  position: relative;

  &:before {
    content: "";

    display: block;
    width: 900px;
    height: 602px;

    position: absolute;
    top: @top;
    left: @left;

    transform: rotateX(@rotateX);
    background:
      no-repeat left 600px top 0px url("/src/assets/oval-single.png"),
      no-repeat left 308px top 0px url("/src/assets/oval-single.png"),

      no-repeat left 600px top 310px url("/src/assets/oval-single.png"),
      no-repeat left 308px top 310px url("/src/assets/oval-single.png"),
      no-repeat left 15px  top 310px url("/src/assets/oval-single.png");
  }
}

.backgroundPatternB(
  @top:88px,
  @left:unset,
  @rotateX: 0,
) {
  position: relative;

  &:after {
    content: "";

    display: block;
    width: 900px;
    height: 602px;

    position: absolute;
    top: @top;
    left: @left;

    transform: rotateX(@rotateX);

    background:
      no-repeat left 600px top 0px url("/src/assets/oval-single.png"),
      no-repeat left 308px top 0px url("/src/assets/oval-single.png"),

      no-repeat left 600px top 310px url("/src/assets/oval-single.png"),
      no-repeat left 308px top 310px url("/src/assets/oval-single.png"),
      no-repeat left 15px  top 310px url("/src/assets/oval-single.png");
  }
}

.hideBackgroundPatternA {
  &:before {
    content: none;
  }
}

.hideBackgroundPatternB {
  &:after {
    content: none;
  }
}

.showBackgroundPatternA(
  @top:unchanged,
  @left:unchanged,
  @rotateX: unchanged,
  @width: unchanged,
){
  &:before {
    content: "";
    & when (not(@top = unchanged)) {
      top: @top;
    }

    & when (not(@left = unchanged)) {
      left: @left;
    }

    & when (not(@rotateX = unchanged)) {
      transform: rotateX(@rotateX);
    }

    & when (not(@width = unchanged)) {
      width: @width;
    }
  }
}

.showBackgroundPatternB(
  @top:unchanged,
  @left:unchanged,
  @rotateX: unchanged,
  @width: unchanged,
){
  &:after {
    content: "";
    & when (not(@top = unchanged)) {
      top: @top;
    }

    & when (not(@left = unchanged)) {
      left: @left;
    }

    & when (not(@rotateX = unchanged)) {
      transform: rotateX(@rotateX);
    }

    & when (not(@width = unchanged)) {
      width: @width;
    }
  }
}

