@import "../shared/styles/variables.less";
@import "../shared/styles/mixins.less";

:root {
  --navTransitionDuration: @navbar-transition-duration;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  overflow: hidden;

  position: relative;
  flex-direction: column;
  align-items: center;
}

.footer-card {
  overflow: hidden;

  text-align: center;
  font-size: 15px;
  line-height: @spacing * 7;

  height: fit-content;
  padding-top: @spacing * 15;
  padding-bottom: @spacing * 15;
  padding-left: @viewport-horizontal-margin-sm;
  padding-right: @viewport-horizontal-margin-sm;
  border-radius: 15px;

  z-index: 2;

  background: url("../../assets/fading-circles.png"), @primary-color;
  background-position: center;
  background-repeat: repeat;
  background-color: @primary-color;
  color: white;

  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: @spacing * 9;

    padding-bottom: @spacing * 4;
    padding-bottom: @spacing * 4;
  }

  p {
    padding-bottom: @spacing * 8;
    line-height: @spacing * 6;
  }

  .backgroundPatternA(@top: -100px, @left:-70%);

  .medium-screen({
    font-size: 16px;

    padding-left: @spacing * 42;
    padding-right: @spacing * 42;

    .showBackgroundPatternA(@left:-15%);

    h2 {
      font-size: 40px;
      line-height: @spacing * 10
    }
  });

  .large-screen({
    text-align: left;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding-left: @spacing * 21;
    padding-right: @spacing * 21;

    .showBackgroundPatternA(@left:20%);

    p, h2 {
      grid-column: 1 e("/") 2;
    }
  });
}

.card-callToAction {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  display: inline-block;
  padding: @spacing * 4;
  border-radius: 8px;

  z-index: 2;

  color: @dark-grey;
  background-color: white;

  &:active, &:hover {
    color: white;
    background-color: @secondary-color;
  }

  .large-screen({
    grid-column: 2 e("/") 3;
    grid-row: 1 e("/") 3;
    align-self: center;
    justify-self: flex-end;

    display: block;
    max-height: @spacing * 14;
    max-width: @spacing * 40;
  });
}

.finalCTA {
  .pageContainer();

  position: relative;

  height: @spacing * 47;
}
