@import "../styles.less";
* {
  box-sizing: border-box;
}

.primary-container {
  padding-left: calc(@spacing * 6);
  padding-right: calc(@spacing * 6);
}
 
.image-wrapper > img {
  display: block;
  width: 100%;
  object-fit: cover;
}
